<!DOCTYPE html>
<html>

<head>
    <title> Pokédex - {{ pokemon.name }} </title>
    <link rel="stylesheet" href="../public/css/pokemon.css">
</head>

<body>
    <div class="container">
        <h1>{{ pokemon.name }}</h1>
        <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" class="pokemon-image">

        <table>
            <tr>
                <td>Numéro</td>
                <td>{{ pokemon.id }}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    {% for type in pokemon.types %}
                    <span class="pokemon-type {{ type }}">{{ type }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Attaques</td>
                <td>
                    <ul>
                        {% for attack in pokemon.attacks %}
                        <li>{{ attack }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>