{# Footer de la page  #}
<footer class="footer mt-auto">

    {# Logo Pokemon Station  #}
    <div class="footer-logo">

        <h3>Pokémon Station</h3>

    </div>

    {# Blocs de texte  #}
    <div class="footer-blocks">

        <div class="footer-block">

            <ul>
                <li>
                    <h4>Navigateur</h4>
                </li>
                <li><a>Bla</a></li>
                <li><a>Blabla</a></li>
                <li><a>Blablabla</a></li>
            </ul>

        </div>

        <div class="footer-block">

            <ul>
                <li>
                    <h4>A propos de nous</h4>
                </li>
                <li><a>Bla</a></li>
                <li><a>Blabla</a></li>
                <li><a>Blablabla</a></li>
            </ul>

        </div>

    </div>

    {# Boutons de liens vers les réseaux sociaux  #}
    <div class="social-media">

            <a class="social-media-button" href="https://twitter.com/home" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>

            <a class="social-media-button" href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a class="social-media-button" href="https://www.messenger.com/" target="_blank">
                <i class="fa-brands fa-facebook-messenger"></i>
            </a>

            <a class="social-media-button" href="https://www.pinterest.fr/" target="_blank">
                <i class="fa-brands fa-pinterest"></i>
            </a>
        
    </div>

</footer>