{# Footer de la page  #}
<footer>

    {# Logo Pokemon Station  #}
    <div class="footer-logo">

        <h3>Pokémon Station</h3>

    </div>

    {# Blocs de texte  #}
    <div class="footer-blocks">

        <div class="footer-block">

            <ul>
                <li>
                    <h4>Navigateur</h4>
                </li>
                <li>Bla</li>
                <li>Blabla</li>
                <li>Blablabla</li>
            </ul>

        </div>

        <div class="footer-block">

            <ul>
                <li>
                    <h4>A propos de nous</h4>
                </li>
                <li>Bla</li>
                <li>Blabla</li>
                <li>Blablabla</li>
            </ul>

        </div>

    </div>

    {# Boutons de liens vers les réseaux sociaux  #}
    <div class="social-media">

        <button class="social-media-button">
            <a >
                <i class="fa-brands fa-twitter"></i>
            </a>
        </button>

        <button class="social-media-button">
            <a >
                <i class="fa-brands fa-instagram"></i>
            </a>
        </button>

        <button class="social-media-button">
            <a >
                <i class="fa-brands fa-facebook-messenger"></i>
            </a>
        </button>

        <button class="social-media-button">
            <a >
                <i class="fa-brands fa-pinterest"></i>
            </a>
        </button>
        
    </div>

</footer>