{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}A propos
{% endblock %}

{# Contenu de la page #}
{% block body %}

<div class="container-fluid"></div>

	<h1 class="mx-auto mt-5" style="color: white; font-size: 3rem;">À propos</h1>

    <div class="presentation">

        <div class="yann fade-up col-12 col-lg-4">
            <img src="/images/Yann.png" alt="Yann">

            <h3>The Captchka Engineer</h3>

            <p class="col-4">Salut moi c'est Yann ! Mon tempérament colérique me met souvent des bâtons dans les roues, mais j'ai toutes les qualités pour devenir un excellent dev !</p>

        </div>
        
        <div class="louis fade-up col-12 col-lg-4">
        
            <img src="/images/Louis.png" alt="Yann">

            <h3>Lead Project</h3>

            <p class="col-4">Bonjour, moi c'est Louis, je ne suis pas le plus experiménté, mais j'applique ma détermination et mon leadership pour emmener mon groupe à la victoire ! </p>

        </div>

        <div class="bastien fade-up col-12 col-lg-4">
            <img src="/images/Bastien.png" alt="Yann">

            <h3>Pokemon Master</h3>

            <p class="col-4">Moi c'est Bastien ! Râleur invétéré, je suis également le plus doué de l'équipe en terme de dev (ce qui me rend particulièrement arrogant, mais diablement efficace !)</p>

        </div>

        

    </div>
{% endblock %}