{% extends 'base.html.twig' %}

{% block title %}Capture{% endblock %}

{% block body %}

    <div class="capture-effect">
        <!--Affichage du pokémon capturé-->
        <div class="container-fluid container-view">

            <div class="row">
                <div class="col-12 col-lg-8 mx-auto view-pokemon">



                </div>
            </div>



        </div>

        <!--Bouton de capture-->
        <div class="mx-auto capture-ball text-center">
            <button class="capture-poke-button">
                <img class="pokeball-animate" src="{{ asset('images/poke-capture.png') }}" alt="Pokeball, go!">
            </button>

        </div>
    </div>


    <div class="description-poke-capture">
        <p>
             à été capturé!
        </p>

    </div>





{% endblock %}



{% block js %}

    <script>
        const capturedPageApi = '{{ url('app_capture_api') }}';
        const pokemonsGifDir = '{{ asset('images/gifs') }}';
    </script>
    <script src="{{ asset('js/script.js') }}"></script>

{% endblock %}
