{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

{# Container du formulaire de connexion  #}
<div class="container mt-5">

    <div class="row">

        <div class="col-md-6 offset-md-3">

            <h1 class="text-center">Connexion</h1>

            {# Formulaire de connexion  #}
            <form action="" method="post">

                <div class="form-group">

                    <label for="email">Adresse e-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Entrer votre adresse e-mail">

                </div>

                <div class="form-group">

                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Entrer votre mot de passe">

                </div>

                <div class="text-center">

                    <button type="submit" class="btn btn-primary text-center">Se connecter</button>

                </div>

            </form>

        </div>

    </div>

</div>
{% endblock %}