{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="mx-auto my-auto text-center">
        <h1 >Mentions légales</h1>


        <h2>Propriétée intellectuelle</h2>

        <p>Pokémon est une marque déposée de The Pokémon Company International, Game Freak et Nintendo. Les images appartiennent à leur auteur respectif.Pour tout contact, merci d'envoyer un mail à .</p>
        <br>
        <p>Tous les gifs proviennent du site projectpokemon.org</p>

        <h2>Hébergeur</h2>

        <p>
            OVH
            2 rue Kellermann
            59100 Roubaix
            France
        </p>
    </div>




{% endblock %}



