{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Gestion du profil{% endblock %}

{# Contenu de la page #}
{% block body %}



    {# Titre h1 #}
    <div class="row">
        <h1 class="col-12 text-center my-5">Mon profil</h1>
    </div>

    {# Image de profil #}
    <div class="row">
        <div class="col-10 mx-auto d-flex justify-content-center align-items-center">

{#            {% if app.user.photo is null %}#}

{#                #}{# Affichez ici la photo images/profil_default.jpg #}
{#                <img src="{{ asset('') }}" alt="" class="img-fluid img-thumbnail">#}

{#            {% else %}#}

{#                #}{# Affichez ici la photo de profil de l'utilisateur #}
{#                <img src="{{ asset('insererlienphotoici' ~ app.user.photo )|imagine_filter('profil') }}" alt="" class="img-fluid img-thumbnail">#}

{#            {% endif %}#}

        </div>
    </div>

    {# statistique #}
    <div>
        <h2>Statistiques</h2>

        <div class="container-fluid">

            <div class="row">

                {# Block de gauche, Infos de l'utilisateur #}
                <ul class="list-group col-12 col-lg-5 p-0" id="utilisateur">
                    <li class="list-group-item ">Pokémons attrapés : <span class="text-info"></span></li>
                    <li class="list-group-item ">Shiny obtenus : <span class="text-info"></span></li>
                    <li class="list-group-item ">Pokédex remplis à  XX/100 : <span class="text-info"></span></li>
                </ul>

                {# Block de droite, Infos du compte #}
                <ul class="list-group col-12 col-lg-5 p-0" id="compte">
                    <li class="list-group-item ">Adresse Email : <span class="text-info"></span></li>
                    <li class="list-group-item ">Pseudonyme : <span class="text-info"></span></li>
                    <li class="list-group-item ">Date d'inscription : <span class="text-info"></span></li>
                    <li class="list-group-item ">
                        Compte :
                        <span class="text-info">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur' }}</span>
                    </li>
                </ul>
            </div>
        </div>

        {# Lien qui redirige vers une nouvelle page afin de modifier les informations de l'utilisateur #}
        <div>
            {# NE PAS OUBLIER DE CREER LE LIEN QUI REDIRIGE VERS LA PAGE DE MODIFICATION #}
            <a href="">Modifier les informations</a>
        </div>

    {# Fermeture langague twig #}
{% endblock %}