{# Utilisation du squelette de page base.html.twig #}
{% extends "home.html.twig" %}

{# Titre de la page #}
{% block title %}Gestion du profil{% endblock %}

{# Contenu de la page #}
{% block body %}


    {# Titre h1 #}
    <div class="row">
        <h1 class="col-12 text-center my-5">Mon profil</h1>
    </div>

    {# Image de profil #}
    <div class="row">
        <div class="col-10 mx-auto d-flex justify-content-center align-items-center">

            {% if app.user.photo is null %}

                {# Affichez ici la photo images/profil_default.jpg #}
                <img src="{{ asset('') }}" alt="" class="img-fluid img-thumbnail">

            {% else %}

                {# Affichez ici la photo de profil de l'utilisateur #}
                <img src="{{ asset('insererlienphotoici' ~ app.user.photo )|imagine_filter('profil') }}" alt="" class="img-fluid img-thumbnail">

            {% endif %}

        </div>
    </div>

    {# statistique #}
    <div>

        <h2>statistiques</h2>

        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto asperiores eligendi esse quos. Accusantium dolorem earum eveniet expedita fuga non odio provident sint tempora voluptas. Dicta maxime nostrum temporibus?</span><span>Aspernatur blanditiis molestiae placeat porro voluptates? Amet dignissimos neque nesciunt nostrum porro sit ut! Dolor, hic iusto laudantium quia quis quod voluptates? Ad aliquid consequuntur dolore dolores, id praesentium reiciendis!</span><span>A aspernatur deserunt doloribus ex, fugit illum itaque maiores maxime quaerat ratione sequi temporibus, veritatis voluptatibus! Exercitationem in iusto labore minus modi repellat sed similique sit totam, ut, vel voluptatibus.</span><span>Ab aliquid consequatur dignissimos dolorem eius est, eum iste magnam mollitia odit, sapiente similique tenetur ut vero voluptatibus. Beatae consequatur consequuntur culpa deleniti dolor ea explicabo incidunt odio quas quod!</span><span>Deserunt ducimus facilis inventore magni maxime optio pariatur placeat porro quos sint. Ab dolor dolorum, ducimus ex, explicabo harum illum ipsa iste officia quasi reiciendis repudiandae rerum soluta, temporibus voluptatum!</span></p>
    </div>

    {# Formulaire bootstrap  #}
    <form>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi !</label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">S'enregistrer</button>
        </div>
    </form>

    {# Lien vers la page permettant de changer de photo de profil #}
    <div class="row">
        <div class="col-12 pt-3">
            <a href="{{ path('main_edit_photo') }}">Modifier la photo de profil</a>
        </div>
    </div>

    {# Fermeture langague twig #}
   {% endblock %}