{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Le Projet
{% endblock %}

{# Contenu de la page #}
{% block body %}

<div class="container-fluid project-background p-0">

    <div class="row project-presentation fade-up col-12 col-lg-4">

        <h1 class="mx-auto mt-5" style="color: white; font-size: 3rem;">Le Projet</h1>

        <div class="project-poke-ball col-12 col-lg-6">

            <img src="/images/Accueil.png" alt="PokeBall">

            <img src="/images/Capture.png" alt="PokeBall">

            <img src="/images/Pokedex.png" alt="PokeBall">

            <img src="/images/Profil.png" alt="PokeBall">

        </div>

        <p class="col-12 col-lg-10">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sed sunt animi ratione? Eaque delectus quod atque. Earum odit quas, facilis dolorem, molestias doloremque quasi, soluta ut dolorum veniam delectus.
        Labore quo harum, quos dolores at voluptatem impedit delectus necessitatibus eius autem molestias eligendi pariatur, quae ea odit magnam voluptate enim exercitationem! Cupiditate corporis reiciendis ipsam autem enim iure inventore.
        Consequatur harum eveniet accusantium ipsa voluptatem assumenda recusandae, quasi voluptatum mollitia pariatur, modi deleniti incidunt, nobis cum distinctio enim error corporis! Deleniti, tempore! Molestiae hic, possimus iusto atque sint quod!
        Reprehenderit sed porro, rerum atque odio quisquam consectetur numquam qui quos officiis architecto quaerat magnam quis ad assumenda dolores excepturi perferendis quo asperiores eos natus nemo. Pariatur rem dolores laudantium.
        Ducimus dolor reiciendis temporibus voluptates possimus culpa quam a nihil iure omnis provident, obcaecati excepturi numquam adipisci cum tenetur ipsa autem nemo blanditiis quasi, vel ea inventore deleniti! Autem, consequatur.</p>

    </div>
    
</div>
{% endblock %}