.container {
    width: 80%;
    margin: 0 auto;
}

.pokemon-image {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.pokemon-type {
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}