body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.banner {
    margin-top: 0px;
    background-color: #DD4242;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.title {
    display: flex;
    flex-direction: wrap;
    width: 50px;
    float: left;
    margin-left: 100px;
    color: white;
    font-size: 3rem;
}

.header-img {
    margin: auto;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #0C3348;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navigation-button {
    width: 100%;
    height: 100%;
    background-color: #0C3348;
    border: none;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.navigation-button:hover {
    background-color: #092A3B;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #092A3B;
    height: 75%;
}

.sacha {
    margin: 100px;
    border-radius: 20px;
}

.project {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: whitesmoke;
}

.project h2 {
    font-size: 5rem;
}

.transition {
    height: 80%;
    background-image: url(../images/Transition.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Poke-Background.png);
    height: 75%;
}

.join-adventure {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: whitesmoke;
    font-style: italic;
    font-size: 1rem;
}

.start-adventure-button {
    background-color: #DD4242;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.start-adventure-button:hover {
    background-color: #FF9797;
}


footer {
    height: 25%;
    background-color: #092A3B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    color: whitesmoke;
    width: 50px;
    margin-left: 100px;
    font-size: 3rem;
    display: flex;
    flex-direction: wrap;
    float: left;
}

.footer-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.footer-block {
    color: whitesmoke;
    margin: 50px;
}

.footer-block ul {
    list-style-type: none;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    float: right;
    margin-right: 100px;
    padding: 20px;

}

.social-media-button {
    color: whitesmoke;
    background-color: #092A3B;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    margin: 30px;
}

.social-media-button:hover {
    background-color: whitesmoke;
    color: #092A3B;
    border-radius: 10px;
}