{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Error 404
{% endblock %}

{# Contenu de la page #}
{% block body %}

<div class="container-fluid"></div>

	<h1 class="mx-auto mt-5" style="color: white; font-size: 6rem;">ERROR 401 : utilisateur non authentifié</h1>

	<img class="mx-auto mt-5" src="/images/error/error401.png" alt="pikachu-meme" width="500px">


{% endblock %}
