{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Error 404
{% endblock %}

{# Contenu de la page #}
{% block body %}

	<h1 class="error"></h1>

	<img src="/images/error404.png" alt="pikachu-meme">


{% endblock %}
