{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Error 404
{% endblock %}

{# Contenu de la page #}
{% block body %}

<div class="container-fluid"></div>

	<h1 class="mx-auto mt-5" style="color: white; font-size: 3rem;">ERROR 502 : erreur serveur</h1>

	<img class="error-pikachu mx-auto" src="/images/error/error500.png" alt="pikachu-meme" width="500px">


{% endblock %}
